@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/gilroy-regular');
@import url('https://fonts.cdnfonts.com/css/avenir');

body{
    margin: 0;
}
*{
    font-family: gilroy-regular;
}
.main-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}
.left-div{
    padding: 120px 0 0 120px;
    margin-bottom: 50px;
}
.right-div{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    column-gap: 40px;
    margin-top: 50px;
}
h3{
    color: #FD5B2F;
    font-size: 47px;
}
h1{
    font-size: 62px;
    font-weight: 800;
    margin-bottom: 20px;
}
h2{
    font-family: avenir;
    font-weight: 100;
}
.img-div img{
    object-fit: cover;
    position: absolute;
}

.rect1 img, .rect2 img{
    height: 800px;
    width: 100%;
    object-fit: cover;
}
button{
    margin-top: 120px;
    background-color: #FD5B2F;
    padding: 20px 48px;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 22px;
}